/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*COLOR*/
/*MAIN COLOR:#087f5b
GREY COLOR:#343a40
*/

/******************/
/* GENERAL STYLES */
/******************/

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}
.container {
  width: 960px;
  margin: 0 auto;
}
img {
  width: 100%;
  border-radius: 12px;
}

header {
  display: grid;
  margin-top: 64px;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}
h1 {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 32px;
}
p {
  margin-bottom: 24px;
}

header,
section {
  margin-bottom: 96px;
}
h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

h2 {
  font-size: 36px;
  letter-spacing: -0.5px;
  margin-bottom: 48px;
}
footer {
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;

  color: white;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;

  font-weight: 500;
}
.btn:hover,
.btn:active {
  background-color: #0ca678;
}

.btn-shop {
  font-size: 18px;
  padding: 16px 20px;
  border-radius: 100px;
}

.btn-cart {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 100px;
}
/******************/
/* COMPONENT STYLES */
/******************/

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
.header-text-box {
  align-self: center;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

/* TESTIMONIAL*/

.testimonial-box {
  grid-column: 2/-1;
  align-self: center;
}

.testimonial-box h2 {
  font-size: 24px;
  margin-bottom: 24px;
}
blockquote {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
  color: #e6fcf5;
}
.testimonial-section {
  background-color: #087f5b;
  color: white;
  padding: 24px;
  border-radius: 12px;
}
.author-text {
  color: #c3fae8;
}
/*FEAUTURES*/

.feautures-text {
  font-size: 18px;
  line-height: 1.7;
}
.feautures-title {
  margin-bottom: 16px;
  font-size: 20px;
}
.feautures-icon {
  stroke: #087f5b;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}
/*CHAIR LIST*/
.chair {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.chair-box {
  padding: 32px;
}

.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.price-tag {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}
.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

footer {
  font-size: 14px;
  color: #495057;
}
